<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="bossdoyKaraoke_NOW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="bossdoyKaraoke_NOW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <bossdoyKaraoke_NOW.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
        </bossdoyKaraoke_NOW.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <bossdoyKaraoke_NOW.Properties.Settings>
            <setting name="DEFAudioEQBand0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAudioEQBand1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAudioEQBand2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAudioEQBand3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAudioEQBand4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAudioEQBand5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAudioEQBand6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAudioEQBand7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAudioEQBand8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAudioEQBand9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAudioEQPreset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAudioEQPreamp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAudioEQEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEFBackGroundVideoDir" serializeAs="String">
                <value />
            </setting>
            <setting name="DEFTitleText" serializeAs="String">
                <value>BossDoy KaraokeNow</value>
            </setting>
        </bossdoyKaraoke_NOW.Properties.Settings>
    </applicationSettings>
</configuration>
