<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BASS.ASIO" version="1.3.1.2" targetFramework="net462" />
  <package id="BASS.Native" version="2.4.13.10" targetFramework="net462" />
  <package id="Bass.NetWrapper" version="2.4.12.5" targetFramework="net462" />
  <package id="managedwifi" version="1.1.0" targetFramework="net462" />
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net462" />
  <package id="MaterialDesignThemes" version="3.0.1" targetFramework="net462" />
  <package id="NLog" version="4.6.8" targetFramework="net462" />
  <package id="SharpDX" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.D3DCompiler" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Direct3D10" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net462" />
</packages>